<ul class="profile-block-list columns small-12 end">
  <% @memberships.each do |membership| %>
    <% if membership.task != nil %>
      <%= link_to task_path(membership.task) do %>
        <div class="task-profile-block row">
          <li><strong class="fi-clipboard-pencil"> <%= membership.task.title %></strong></li>
          <li><span class="sub-type">details</span> <%= membership.task.description %></li>
          <li><span class="sub-type fi-torsos">group</span> <%= membership.group.name %></li>
        </div>
      <% end %>
      <hr>
    <% end %>
  <% end %>
</ul>
