<ul class="profile-block-list columns small-12 end">
  <% @memberships.each do |membership| %>
    <% if membership.task != nil %>
      <%= link_to task_path(membership.task) do %>
        <div class="task-profile-block row">
          <li><%= membership.task.title %></li>
          <li><%= membership.task.description %></li>
          <li>Group Name:
            <%= membership.group.name %></li>
        </div>
      <% end %>
      <hr>
    <% end %>
  <% end %>
</ul>
