<div class="group-block row">
  <h4 class="fi-torsos"><%= link_to " Posting User" %> <small><%= link_to " Group Title" %></small></h4>
  <div class="columns small-2">
    <%= image_tag("avatar-generic.jpg", class: "th") %>
  </div>
  <div class="columns small-8">
    <p>
      This location will pagnate the last 10 comments of your personal comments
      ordered by most recent.
    </p>
    <p>date and time</p>
  </div>
  <div class="group-action-block columns small-2">
    <%= link_to "Comment", root_path, class: "button tiny" %>
  </div>
</div>
