<div class="profile-block row">
    <%= image_tag("avatar-generic.jpg", class: "th columns small-4") %>
    <ul class="profile-block-list columns small-5 end">
      <li>John Doe</li>
      <li>Job Title</li>
      <li>johndoe@company.com</li>
      <li>123 Fake Street | Nowhwere, MA | 12345</li>
      <li><a href="tel:408-867-5309">555-555-5555</a></li>
      <li><a href="#">http://foundation.zurb.com/</a></li>
    </ul>
    <div class="columns small-2">
      <%= link_to "Update", root_path, class: "button tiny" %>
    </div>
</div>
