<div class="row">
  <div class="vendor-block">
    <%= image_tag("avatar-generic.jpg", class: "th columns small-4") %>
    <ul class="profile-block-list columns small-6 end">
      <li>Company: Company Inc.</li>
      <li>Name: Joe Schmo</li>
      <li>Phone: 555-555-5555 ext: 000</li>
      <li>Address: 123 Street Road, Place MA, 12345</li>
      <li>Email: joeschmo@company.com</li>
      <li>Website: company.com</li>
      <li>Category: services </li>
    </ul>
  </div>
</div>
<hr>
