<ul class="profile-block-list columns small-12 end">
  <% @memberships.each do |membership| %>
  <%= link_to group_path(membership.group) do %>
    <div class="group-profile-block row">
      <li><strong class="fi-torsos"> <%= membership.group.name %></strong></li>
      <li><span class="sub-type">details</span> <%= membership.group.description %></li>
    </div>
  <% end %>
  <hr>
  <% end %>
</ul>
