<div class="has-dropdown">

<a href="#" data-dropdown="drop1" class="button dropdown">Dropdown Button</a><br>

<ul id="drop1" class="f-dropdown">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>
</div>
<%= render 'partials/user_profile' %>
<hr>
<%= render 'partials/task_block' %>
<hr>
<%= render 'partials/group_block' %>
<hr>
<%= render 'partials/user_block' %>
<hr>
