<div class="row">
  <div class="small-5 small-centered columns">
    <h4>Sign In</h4>
    <button href="#" class="facebook radius button split"> <span></span>sign in with facebook</button>
    <button href="#" class="twitter radius button split"> <span></span>sign in with twitter</button>
    <button href="#" class="google radius button split"> <span></span>sign in with google +</button>
    <a class="gbutton" href="">sign up</a>
  </div>
</div>
<%= link_to "user page", user_path(current_user) %>
<div class="center row">
  <div class="section-container tabs" data-section="tabs">
    <section class="active">
      <p class="title" data-section-title><a href="#">Sign Up</a></p>
      <div class="content" data-section-content>
        <p>
          <div class="row">
            <div class="large-12 columns">
              <div class="signup-panel">
                <p class="welcome">Hello, new user!</p>
                <form>
                  <div class="row collapse">
                    <div class="small-2  columns">
                      <span class="prefix"><i class="fi-torso"></i></span>
                    </div>
                    <div class="small-10  columns">
                      <input type="text" placeholder="Full Name">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix"><i class="fi-mail"></i></span>
                    </div>
                    <div class="small-10  columns">
                      <input type="text" placeholder="Email">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-2 columns ">
                      <span class="prefix"><i class="fi-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                      <input type="text" placeholder="Password">
                    </div>
                  </div>
                </form>
                <a href="#" class="button ">Sign Up! </a>
              </div>
            </div>
           </div></p>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#">Sign In</a></p>
      <div class="content" data-section-content>
        <p>
          <div class="row">
            <div class="large-12 columns">
              <div class="signup-panel">
                <p class="welcome">Welcome back!</p>
                <form>
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <span class="prefix"><i class="fi-mail"></i></span>
                    </div>
                    <div class="small-10  columns">
                      <input type="text" placeholder="Email">
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-2 columns ">
                      <span class="prefix"><i class="fi-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                      <input type="text" placeholder="Password">
                    </div>
                  </div>
                </form>
                <a href="#" class="button ">Sign Up! </a>
              </div>
            </div>
           </div></p>
      </div>
    </section>
  </div>
<div>
