$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
// alert colors
$primary: #446CB3;
$secondary: #ADB2BD;
$info: #89c4f4;
$alert: #F22613;
$success: #87D37C;
$warning: #F89406;
// general
$red: #8A6E6E;
$orange: #69491C;
$blue: #7794BA;
$green: #A3C4A5;
$purple: #856983;
$yellow: #9E996F;
$gray: gray;
$shadow: #bbb;
$white: white;
$black: black;
