$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
// general
$red: #8A6E6E;
$orange: #69491C;
$blue: #7794BA;
$green: #A3C4A5;
$purple: #856983;
$yellow: #9E996F;
$gray: gray;
$shadow: #bbb;
$white: white;
$black: black;
