/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "colors";

$margin:10%;

body {
  margin: $margin;
}

.profile-block-list {
  color: $black;
  text-decoration: none;
  list-style-type: none;
}

@mixin div-blocks($border-color) {
  border: 2px solid $border-color;
  padding: 2%;
  border-radius: 10px;
}

@mixin div-hovers {
  padding: 2%;
  box-shadow: 5px 5px 5px $shadow;
}

.user-profile-block {
  @include div-blocks($gray);
  &:hover {
    @include div-hovers;
  }
}

.group-profile-block {
  @include div-blocks($purple);
  &:hover {
    @include div-hovers;
  }
}

.task-profile-block {
  @include div-blocks($yellow);
  &:hover {
    @include div-hovers;
  }
}

.group-block {
  @include div-blocks($orange);
  &:hover {
    @include div-hovers;
  }
}

.task-block {
  @include div-blocks($purple);
  &:hover {
    @include div-hovers;
  }
}

.user-block {
  @include div-blocks($green);
  &:hover {
    @include div-hovers;
  }
}

.contact-profile-block {
  @include div-blocks($green);
  &:hover {
    @include div-hovers;
  }
}

.attachment-profile-block {
  @include div-blocks($blue);
  &:hover {
    @include div-hovers;
  }
}

.comment-profile-block {
  @include div-blocks($orange);
  &:hover {
    @include div-hovers;
  }
}

.task-users-block {
  @include div-blocks($green);
  &:hover {
    @include div-hovers;
  }
}
.sub-type {
  color: $gray;
  font-size: 10px;
}
