/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

$margin:10%;
body {
 margin: $margin;
}
.profile-block-list {
  text-decoration: none;
  list-style-type: none;
}
@mixin div-blocks($border-color: #8AC007) {
  border: 2px solid $border-color;
  padding: 5%;
  border-radius: 50px;
}
@mixin div-hovers {
  padding: 5%;
  box-shadow: 8px 8px 8px black;
}
.profile-block {
  @include div-blocks;
  &:hover {
    @include div-hovers;
  }
}
.group-block {
  @include div-blocks;
  &:hover {
    @include div-hovers;
  }
}
.task-block {
  @include div-blocks;
  &:hover {
    @include div-hovers;
  }
}
.user-block {
  @include div-blocks;
  &:hover {
    @include div-hovers;
  }
}
