// gradient buttons
$gradient: linear-gradient(45deg, black, blue);
$gradient2: linear-gradient(45deg, black, blue);

.gbutton {
  color: transparent;
  font-size: 1.5rem;
  letter-spacing: 5px;
  border: 4px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
  background: $gradient;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.8s ease;

  &:hover {
    border-image: $gradient;
    background: $gradient2;
  }
}
