@import "colors";

.disable-field-set {
  background: #ddd;
  color: #ddd;
}

.disable-field-set h5 {
  color: #eee;
}

.disable-field-set label {
  color: #eee;
}

select:disabled {
  color: #eee;
}

.disable-field-set input.submit {
  background-color: #ddd;
  color: #eee;
}
