@import "colors";

.disable-field-set {
  background: $med-gray;
  color: $med-gray;
}

.disable-field-set h5 {
  color: $light-gray;
}

.disable-field-set label {
  color: $light-gray;
}

select:disabled {
  color: $light-gray;
}

.disable-field-set input.submit {
  background-color: $med-gray;
  color: $light-gray;
}
