@import "colors";

.sign-up {
  background-image: url("book2.jpg");
  border-radius: 20px;
  padding-bottom: 300px;
  padding-top: 30px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}
