@import "colors";
$text-transform: uppercase;
$icon-size: 2rem;

.split.button {
  width: 100%;

  &.facebook {
    background: $facebook-color;
    text-transform: $text-transform;

    span {
      background: darken( $facebook-color, 10% );

      &:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1c4";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }

  &.twitter {
    background: $twitter-color;
    text-transform: $text-transform;

    span {
      background: darken( $twitter-color, 10% );

      &:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1e4";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }

  &.google {
    background: $google-color;
    text-transform: $text-transform;


    span {
      background: darken( $google-color, 10% );

      &:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: $icon-size;
        line-height: 0.25rem;
        margin-left: -0.7rem;
      }
    }
  }

  &.left-icon {
    text-align: right;
    span {
      left: 0;
    }
  }
}
